<app-navbarp></app-navbarp>
<div class="b-example-divider"></div>
<div class="container my-5 ">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg fondo">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <img class="rounded-lg-3" src="../../../assets/carrer1.jpg" width="100%">
        </div>
        <div class="col-lg-4 offset-lg-1 p-0  ">
            <div class="mrgbtnimg">
                <h1 class="display-4 fw-bold lh-1  text-black  text-center">CARRERAS ATLÉTICAS</h1>
                <BR />
                <p class="lead  text-black">Desde la Secretaría del Deporte y la Recreación apuntamos a que la
                    ciudadanía caleña estimule la actividad física a través de eventos de ciudad gratuitos y uno de
                    estos son nuestras carreras, ya que al ser para todo tipo de público genera un impacto masivo en
                    la ciudad.
                    <BR />
                    <BR />
                 <!--   <a class="w-100 btn btn-secondary text-white" href="../carrera/inscribir" type="submit">inscribirte</a>-->
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container my-5 ">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg fondo">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1  text-black">CARRERAS </h1>
            <BR />
            <p class="lead  text-black">Se realizarán periódicamente durante todo el año y es por esto que en el
                2023 tendremos 3 versiones con diferentes temáticas, en modalidades como 5k y 10k proximamente
                .
                <BR />
                <BR />
               <!-- <a class="w-100 btn btn-secondary text-white" href="carrera/validar"
                    type="submit">Validar Inscripcion</a>-->
            </p>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 ">
            <div class="mrgbtnimg">
                <table class="table caption-top">
                    <thead>
                        <tr>
                            <th scope="col">Proximas carreras</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">Carrera</th>
                            <th scope="col">Fechas</th>
                        </tr>
                        <tr>
                            <td>CICLOVIDA RUN 7K DE LA MUJER
                            </td>
                            <td>26 de marzo
                            </td>
                        </tr>
                        <tr>
                            <td>CICLOVIDA RUN 7K DE LA FAMILIA
                            </td>
                            <td>28 de mayo
                            </td>
                        </tr>
                        <tr>
                            <td>40 AÑOS DE CICLOVIDA
                            </td>
                            <td>octubre
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="b-example-divider"></div>
<app-footerp></app-footerp>