<app-navbarp></app-navbarp>


<div class="b-example-divider"></div>

<div class="px-5  my-5 text-center ">

    <h1 class="display-5 fw-bold">EVENTOS DE CALI CIUDAD DEPORTIVA</h1>
    <div class="col-lg-6 mx-auto">

    </div>
</div>

<div class="container marketing">
    
    <hr class="featurette-divider">

    <div class="container my-5 ">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg fondo">
    
            <div class="col-lg-4 offset-lg-1 p-0 ">

                <h1 class="display-5 fw-bold">iNSCRIPCION CERRADA</h1>
             
       
            </div>
        </div>
    </div>
    

    <hr class="featurette-divider">

    <div class="row ">
        <div class="col-md-7">
            <h1 class="">FUTBOL EN FAMILIA. <span class="text-muted">Vivamos el futbol en paz</span></h1>
            <p class="lead">Juntando a la familia se promueve fomentar el deporte en paz, apoyando a nuestros grandes equipos de la ciudad.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a type="button" href="futbolfamilia" class="btn bazul btn-lg px-4 me-md-2 fw-bold">mas
                    información</a>
            </div>
        </div>

        <div class="col-md-4">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" src="../../../assets/FutbolEnFamilia.webp"  alt="Futbol en Familia">


        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row ">
        <div class="col-md-7">
            <h1 class="">CIUDADELA DE LA ALEGRIA. <span class="text-muted">Sonríe, sueña y diviértete</span></h1>
            <p class="lead">"Ciudadela de la Alegría" disfruta junto a tu familia de más de 40 estaciones deportivas,
                recreativas y lúdicas dentro de la unidad deportiva Jaime Aparicio.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a type="button" href="ciudadela" class="btn bazul btn-lg px-4 me-md-2 fw-bold">mas
                    información</a>
            </div>
        </div>

        <div class="col-md-4">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" src="../../../assets/ciudadela.webp" alt="Ciudadela de la Alegria">


        </div>
    </div>


    <hr class="featurette-divider">

    <div class="row ">
        <div class="col-md-7">
            <h1 class="">CARRERAS ATLÉTICAS
                . <span class="text-muted">Si la mente lo cree, tus piernas obedecerán.</span></h1>
            <p class="lead">Apuntamos a que la ciudadanía caleña estimule la actividad física a través de eventos de ciudad gratuitos y uno de estos son nuestras carreras, ya que, al ser para todo tipo de público genera un impacto masivo en la ciudad.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a type="button" href="carrera" class="btn bazul btn-lg px-4 me-md-2 fw-bold">mas
                    información</a>
            </div>
        </div>

        <div class="col-md-4">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" src="../../../assets/CarreraDeportiva.webp"   alt="Carrera Deportivas">


        </div>
    </div>



    <hr class="featurette-divider">

    <div class="row ">
        <div class="col-md-7">
            <h1 class="">BALONCESTO EN FAMILIA.<span class="text-muted">Conseguir buenos jugadores es fácil. Conseguir que jueguen juntos es la parte más difícil</span></h1>
            <p class="lead">Juntando a la familia se promueve el baloncesto fomentando el deporte  apoyando a nuestro equipo de la ciudad.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a type="button" href="baloncestofamilia" class="btn bazul btn-lg px-4 me-md-2 fw-bold">mas
                    información</a>
            </div>
        </div>

        <div class="col-md-4">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" src="../../../assets/BaloncestoEnFamilia.webp"   alt="Baloncesto en Familia">


        </div>
    </div>
    <hr class="featurette-divider">

</div>



<app-footerp></app-footerp>