<app-navbarp></app-navbarp>


<div class="b-example-divider"></div>

<div class="px-5  my-5 text-center ">

    <h1 class="display-5 fw-bold">EVENTOS DE CALI CIUDAD DEPORTIVA</h1>
    <div class="col-lg-6 mx-auto">

    </div>
</div>

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">CIUDADELA DE LA ALEGRIA</h1>
            <p class="lead">Sonríe, sueña y diviértete con la ‘Ciudadela de la Alegría’
                disfruta junto a tu familia de más de 40 estaciones deportivas, recreativas y lúdicas dentro de la
                unidad deportiva Jaime Aparicio.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a type="button" href="ciudadela" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">mas
                    información</a>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="../../../assets/ciud1.jpg" width="100%">
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">CARRERAS ATLÉTICAS</h1>
            <p class="lead">apuntamos a que la
                ciudadanía caleña estimule la actividad física a través de eventos de ciudad gratuitos y uno de
                estos son nuestras carreras, ya que al ser para todo tipo de público genera un impacto masivo en
                la ciudad.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a type="button" href="carrera" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">mas información</a>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="../../../assets/carrer1.jpg" width="100%">
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">FUTBOL EN FAMILIA</h1>
            <p class="lead">Juntando la familia se promueve fomentar el deporte en paz apoyando a nuestros grandes
                equipos de la ciudad
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="../../../assets/fut1.jfif" width="100%">
        </div>
    </div>
</div>

<app-footerp></app-footerp>