<app-navbarp></app-navbarp>

<div class="b-example-divider"></div>
<div class="container my-5 ">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg fondo">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <img class="rounded-lg-3" src="../../../assets/ciud1.jpg" width="100%">
      </div>
      <div class="col-lg-4 offset-lg-1 p-0  ">
          <div class="mrgbtnimg">
              <h1 class="display-4 fw-bold lh-1  text-black  text-center">Ciudadela de la Alegria</h1>
              <BR />
              <p class="lead  text-black">Sonríe, sueña y diviértete con la ‘Ciudadela de la Alegría’
                disfruta junto a tu familia de más de 40 estaciones deportivas, recreativas y lúdicas dentro de la
                unidad deportiva Jaime Aparicio.
                  <BR />
                  <BR />
            
              </p>
          </div>
      </div>
  </div>
</div>
<div class="container my-5 ">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg fondo">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <h1 class="display-4 fw-bold lh-1  text-black">Ciudadela de la Alegria </h1>
          <BR />
          <p class="lead  text-black">Se realizarán periódicamente durante todo el año y es por esto que en el
              2023 tendremos Ciudadela de la alegria cada mes
              .
              <BR />
              <BR />

          </p>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 ">
          <div class="mrgbtnimg">
              <table class="table caption-top">
                  <thead>
                      <tr>
                          <th scope="col">Proximas Ciudadelas</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <th scope="col">Carrera</th>
                          <th scope="col">Fechas</th>
                      </tr>
                      <tr>
                          <td>Ciudadela
                          </td>
                          <td>abril
                          </td>
                      </tr>
                      <tr>
                          <td>Ciudadela
                          </td>
                          <td>mayo
                          </td>
                      </tr>
                      <tr>
                          <td>Ciudadela
                          </td>
                          <td>junio
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

<app-footerp></app-footerp>