<app-navbarp></app-navbarp>


<div class="b-example-divider"></div>

<div class="px-5  my-5 text-center ">

    <h1 class="display-5 fw-bold">EVENTOS DE CALI CIUDAD DEPORTIVA</h1>
    <div class="col-lg-6 mx-auto">

    </div>
</div>
<div class="container marketing">
    <hr class="featurette-divider">

    <div class="row ">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc6XiiCyx7qoOClD_ksb2VEHYyc0U3i8pI_JeI62pKWJDvUJw/viewform?embedded=true" width="640" height="1842" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
    </div>


    <hr class="featurette-divider">

    <div class="row ">
        <div class="col-md-7">
            <h1 class="">CARRERAS ATLÉTICAS
                . <span class="text-muted">Si la mente lo cree, tus piernas obedecerán.</span></h1>
            <p class="lead">apuntamos a que la ciudadanía caleña estimule la actividad física a través de eventos de ciudad gratuitos y uno de estos son nuestras carreras, ya que al ser para todo tipo de público genera un impacto masivo en la ciudad.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a type="button" href="carrera" class="btn bazul btn-lg px-4 me-md-2 fw-bold">mas
                    información</a>
            </div>
        </div>

        <div class="col-md-4">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" src="../../../assets/CarreraDeportiva.webp">


        </div>
    </div>


    <hr class="featurette-divider">

    <div class="row ">
        <div class="col-md-7">
            <h1 class="">FUTBOL EN FAMILIA. <span class="text-muted">Vivamos el futbol en paz</span></h1>
            <p class="lead">Juntando la familia se promueve fomentar el deporte en paz apoyando a nuestros grandes equipos de la ciudad.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a type="button" href="futbolfamilia" class="btn bazul btn-lg px-4 me-md-2 fw-bold">mas
                    información</a>
            </div>
        </div>

        <div class="col-md-4">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" src="../../../assets/FutbolEnFamilia.webp">


        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row ">
        <div class="col-md-7">
            <h1 class="">BALONCESTO EN FAMILIA.<span class="text-muted">Conseguir buenos jugadores es fácil. Conseguir que jueguen juntos es la parte más difícil</span></h1>
            <p class="lead">Juntando la familia se promueve el baloncesto fomentando el deporte  apoyando a nuestros equipo de la ciudad.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a type="button" href="baloncestofamilia" class="btn bazul btn-lg px-4 me-md-2 fw-bold">mas
                    información</a>
            </div>
        </div>

        <div class="col-md-4">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" src="../../../assets/BaloncestoEnFamilia.webp">


        </div>
    </div>
    <hr class="featurette-divider">

</div>



<app-footerp></app-footerp>