<app-navbarciud></app-navbarciud>


  

<div class="b-example-divider"></div>



  <div class="container">
  <table datatable class="row-border hover"  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
      <tr>
        <th scope="col">Nombre  Menor</th>
        <th scope="col">Identificacion </th>
        <th scope="col">Nombre  Adulto</th>
        <th scope="col">Identificacion </th>
        <th scope="col">Celular</th>
        <th scope="col">Correo</th>
        <th scope="col">Codigo</th>
        <th scope="col">Estado</th>



  
  
  
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarioDto">
        <td>{{usuario.variable2}} {{usuario.variable3}}</td>
        <td>{{usuario.variable1}}</td>
        <td>{{usuario.variable9}} {{usuario.variable10}}</td>
        <td>{{usuario.variable12}}</td>
        <td>{{usuario.variable17}}</td>
        <td>{{usuario.variable18}}</td>
        <td>{{usuario.variable20}}</td>
        <td>{{usuario.variable21}}</td>



  
    </tr>
  </tbody>
  </table>
  </div>
  
  

  




<app-footerp></app-footerp>
