<app-navbarciud></app-navbarciud>


  

<div class="b-example-divider"></div>



  <div class="container">
  <table datatable class="row-border hover"  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Identifiacion </th>
        <th scope="col">edad  </th>
        <th scope="col">celular</th>
        <th scope="col">correo</th>
        <th scope="col">Codigo</th>
        <th scope="col">talla</th>
        <th scope="col">Estado</th>

  
  
  
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarioDto">
        <td>{{usuario.variable2}}</td>
        <td>{{usuario.variable1}}</td>
        <td>{{usuario.variable3}}</td>
        <td>{{usuario.variable13}}</td>
        <td>{{usuario.variable14}}</td>
        <td>{{usuario.variable5}}</td>
        <td>{{usuario.variable16}}</td>

  
    </tr>
  </tbody>
  </table>
  </div>
  
  

  




<app-footerp></app-footerp>
