<app-navbarp></app-navbarp>

<div class="b-example-divider "></div>



<div class="container col-xl-10 col-xxl-8 px-4 py-0  ">

  





            <button class="w-100 btn btn-lg btn-primary" (click)="formulariomenorvalidar1()"
                type="submit">REGISTRARSE</button>












</div>

<br>
<br>


<!-- 

<div class="container my-5 ">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg fondo">

        <div class="col-lg-4 offset-lg-1 p-0 ">
            <div class="mrgbtnimg">
                <h1 class="display-4 fw-bold lh-1  text-black">Inscripciones Carrera  cerradas</h1>
                <BR />
                <p class="lead  text-black">
           Felicidades a todos los que se Registraron pendientes de las redes sociales 
                    <BR />
                </p>
            </div>
        </div>
    </div>
</div>

-->
<app-footerp></app-footerp>