<app-navbarp></app-navbarp>
<div class="b-example-divider "></div>


<!-- 
<div *ngIf="terminosver" class="container col-xl-10 col-xxl-8 px-4 py-0 text-center ">

    <br />
    <h1>Registro Carrera 3K</h1>


    <h4>CONSIDERACIONES Y REGLAS DE LA CARRERA ATLETICO RECREATIVA</h4>
    <div data-bs-spy="scroll" class="estilo">

        <h6 center>NOMBRE DEL EVENTO: CICLOVIDA RUN 7K DE LA FAMILIA
        </h6><br />
        <h6 center>CIUDAD: Santiago de Cali
        </h6>
        <h6 center>FECHA: 28 de mayo de 2023
        </h6>
        <h6 center>LUGAR DE SALIDA: Unidad Deportiva Alberto Galindo – Canchas de
            baloncesto cra 55
        </h6>
        <h6 center>LUGAR DE LLEGADA: Unidad Deportiva Alberto Galindo – Canchas de
            baloncesto cra 55
        </h6>
        <h6 center>DISTANCIAS: 3Km y 7Km</h6>
        <h6 center>DESCRIPCIÓN DE LA CARRERA
        </h6>
        <p>La Carrera Ciclovida Run 7Km de la Familia 2023, tiene como distancias 3
            kilómetros y 7 kilómetros. La carrera atlética recreativa cumple con lo exigido
            en el Decreto 0690 de 2004 “Por medio del cual se adopta el procedimiento
            para autorizar la presentación de eventos y espectáculos públicos en el D.E.
            de Santiago de Cali”.</p>
        <h6 center>RECORRIDO CARRERA 7K
        </h6>
        <p>Salida y llegada: Unidad Deportiva Alberto Galindo (carrera 55 con 2da
        </p>
        <p>Hora de salida: 6:30 AM
        </p>
        <p>Recorrido: La salida se encuentra ubicada en la unidad deportiva Alberto
            Galindo (dirección del lado sur, canchas de baloncesto cerca al Velódromo
            Alcides Nieto Patiño) se dirige hacia la carrera 55 hacia el lado derecho para
            tomar la calle 3 y sigue en contraflujo hacia la carrera 52, tomando la rotonda
            de Siloé para salir por la calle 3 oeste, hasta encontrar la calle 7 oeste, y buscar
            la cra 52 y girar a la calle 9 oeste, se retoma la diagonal 51, la carrera 53
            entrando al embalse Venezuela, se realiza un recorrido por toda la ruta
            deportiva y ciclo infraestructura que tiene el embalse pasando detrás de la
            institución educativa Multipropósito. Se ingresa hacia la cra 52ª, se retoma la
            calle 6 oeste, se busca la carrera 55, hasta encontrar la calle 2, llegando hasta
            la cra 52 y se regresa por toda la cra 52 y retoma la cra 55 hasta llegar a la
            calle 3 y se regresa para encontrar la puerta de entrada UD Alberto Galindo
            (cerca al velódromo) por la carrera 55 hasta encontrar el arco de meta. </p>
        <h6>RECORRIDO CARRERA 3K:
        </h6>
        <p>Salida y llegada: Unidad Deportiva Alberto Galindo
        </p>
        <p>Hora de salida: 6:50 AM
        </p>
        <p>Recorrido: Sale de la unidad deportiva Alberto Galindo escenario de canchas
            de baloncesto hacia la carrera 55 hacia el lado derecho para tomar calle 3 y
            sigue en contraflujo para la carrera 52, entra a la unidad Alberto Galindo dando
            la vuelta al Coliseo del pueblo por el lado izquierdo hasta encontrar de nuevo
            la cra 52 y salir de la unidad deportiva para girar al lado izquierdo tomando la
            calle 2 para retomar la carrera 55 hasta la calle 3 y regresarse y entrar a la
            Unidad Deportiva Alberto Galindo hasta encontrar el arco de meta.</p>
        <h6>HORARIO DE SALIDA Y TIEMPO LÍMITE DE RECORRIDO
        </h6>
        <p>La Carrera 7K sale a las 6:30 AM - cierre del corral (zona de salida) 6:20 am/
            límite de llegada 8:00 am. </p>
        <p>La Carrera 3K sale a las 6:50 AM - cierre del corral 6:40 am/ límite de llegada
            7:30 am.
        </p>
        <p>Los horarios y recorridos cuentan con la viabilidad de la Secretaría de
            Movilidad.</p>
        <p>Los deportistas que lleguen después de la hora de salida no podrán participar
            en la carrera.</p>
        <p>El tiempo máximo de duración de la carrera será de 2:00 horas es decir de
            6:30 aM-8:30 AM, cerrándose la llegada y desmontando todos los puntos de
            control, quedando el circuito abierto al tránsito vehicular una vez cumplidos
            estos horarios, Un vehículo de la organización irá al final de cada circuito como
            cierre de la carrera. El participante que en el recorrido vea que supera el tiempo
            límite, deberá la carrera o en su defecto continuar bajo su propio riesgo por el
            andén. De acuerdo con la información anterior, a las 8:30 AM se cerrará
            totalmente la llegada. </p>
        <h6>PREMIACIÓN DE CATEGORIAS
        </h6>
        <p>La Secretaría del Deporte y la Recreación ha determinado premiar seis (6)
            categorías pensando en la inclusión social y la participación de ciudadanos de
            las 22 comunas y 15 corregimientos; niñas, niños, adolescentes, juventud,
            adultos y adultos mayores.</p>
        <p>Será premiación por cada categoría general primero, segundo y tercer puesto
            por cada distancia por las siguientes categorías:
        </p>
        <h6>3 Kilómetros
        </h6>

        <p>Familia: adulto y menor
        </p>
        <p>Personas con discapacidad de movilidad reducida
        </p>
        <h6>7 Kilómetros
        </h6>
        <p>13 a 17 años
        </p>
        <p>18 a 39 años
        </p>
        <p>40 a 59 años
        </p>
        <p>+60 años
        </p>
        <p>Personas con discapacidad
        </p>
        <p>Los premios a los que se refiere la premiación son en especie y son otorgados
            por los patrocinadores de la carrera. Estos premios son entregados en tarima
            una vez finalice la sesión de vuelta a la calma. Es obligatorio que los ganadores
            se presenten a la premiación con el número de competidor en el pecho.</p>
        <p>Deportistas que participen con el número de dorsal o el nombre de otro
            corredor serán descalificados de la carrera y la SDR no se hará responsable
            por el uso indebido del corredor originalmente inscrito.</p>
        <h6>CORRAL DE SALIDA (ZONA DE SALIDA)
        </h6>
        <p>Los participantes son responsables de ingresar a tiempo al corral de salida que
            les haya sido asignado, estos generalmente se asignan de acuerdo con el
            tiempo que hace por kilómetro en la distancia inscrita; una vez que se cierre
            el ingreso al corral, los participantes que lleguen tarde únicamente podrán
            ingresar al último corral. Por seguridad de los participantes, cualquier
            corredor(a) que escale las vallas de seguridad o ingrese de manera
            inadecuada, puede ser retirado de la carrera. </p>
        <p>Los participantes no podrán realizar calentamiento, movimiento articular en la
            zona de salida o arco de salida, se dispone de un espacio frente a la tarima
            para dicha actividad. Se recomienda no empujar y respetar el espacio vital de
            los demás participantes.</p>
        <h6>SERVICIOS PARA LOS CORREDORES PARTICIPANTES
        </h6>
        <p>Calentamiento</p>
        <p>Puntos de hidratación durante la carrera.
        </p>
        <p>Servicio de baños móviles en la salida.
        </p>
        <p>Kit del participante: camiseta, dorsal con chip, medalla, tula y obsequio de los
            patrocinadores. Las tallas de las camisetas están sujetas a inventario.</p>
        <p>Vuelta a la calma
        </p>
        <h6>DESARROLLO DE LA CARRERA ATLÉTICO RECREATIVA
        </h6>
        <p>Se considera oficialmente inscrito, aquel participante que haya diligenciado en
            su totalidad el formulario de inscripción (consideraciones y reglas de la carrera,
            la exoneración de riesgo, información de caracterización) y le sea asignado
            un dorsal o número de competición asociado al documento de identidad. </p>
        <p>Esta totalmente prohibido vender o ceder el cupo asignado al participante
            inscrito ya que esta es una carrera totalmente gratuita y la inscripción cuenta
            con información vital del participante que realizó la inscripción.</p>
        <p>Cada deportista deberá llevar indumentaria adecuada y cómoda para la
            práctica deportiva incluyendo la camiseta que le fue entregada para su
            participación en la carrera. Se recomienda el uso de protección solar.</p>
        <p>Cada deportista deberá llevar el dorsal con el número oficial de participación
            el cual le fue suministrado en el kit, junto con la camiseta de la carrera. El
            dorsal debe colocarlo en el torso, es decir, adelante a la altura del pecho con
            los ganchos que le fueron suministrados para ello. </p>
        <p>A cada participante se le asignará un chip de control de tiempo de carrera
            adherido a la parte posterior del dorsal, este chip no debe ser modificado,
            cortado o doblado, por este motivo el dorsal es intransferible, el cambio de
            dorsal (número) o de chip serán motivo de descalificación. Está asociado a un
            deportista y contiene información vital. </p>
        <p>La suplantación de deportistas inscritos no está permitida.
        </p>
        <p>El participante que corra sin número no tendrá derecho a medalla así porte la
            camiseta.</p>
        <p>El participante que corra una distancia distinta a la que se inscribió, recibirá
            medalla de la distancia en la que inicialmente se inscribió.
        </p>
        <p>El participante debe atender las recomendaciones del personal de la
            organización el cual estará identificado con camiseta de la SDR o del
            organizador de la carrera.
        </p>
        <p>El registro de los ganadores por categoría estará soportado por la medición de
            tiempos de chip por parte del operador encargado de esta carrera atlética
            recreativa. Los resultados informados al momento de la llegada no son
            oficiales, dichos resultados se oficializan después de la revisión de los mismos
            y son anunciados por el presentador oficial.</p>
        <p>Los deportistas son responsables de su estado de salud, previamente deben
            hacerse un chequeo médico para su participación</p>
        <p>Las carreras atléticas recreativas requieren de un nivel de preparación previa
            para participar en ellas, para esto la SDR dentro de su oferta dispone de puntos
            de atención con el programa Rutas de Vida. Planifique su carrera de acuerdo
            con su nivel de preparación deportiva y estado físico. </p>
        <p>Por ningún motivo, se permitirá la participación bajo la influencia de alcohol y
            sustancias psicoactivas. Así mismo está totalmente prohibido su consumo
            antes y después de la carrera en las zonas de estiramiento
        </p>
        <p>Los servicios de carrera estarán únicamente destinados a los participantes
            inscritos.</p>
        <p>La participación de menores de 12 años en la prueba 7 kilómetros no está
            permitida. </p>
        <p>Para que un menor de edad pueda participar en la carrera, se requiere que
            uno de sus padres o acudiente firme una autorización de participación del
            menor al momento de la inscripción.</p>
        <p>Todos los menores de edad deberán estar acompañados el día de la carrera
            por uno de sus padres o un acudiente lo mismo que las personas mayores de
            70 años.
        </p>
        <p>En caso de emergencia mantenga la calma y atienda las indicaciones del
            personal de la organización o de la SDR.</p>
        <p>Informe a familiares y amigos de su participación en el evento,
        </p>

        <h6>JUEGO LIMPIO
        </h6>
        <p>Los deportistas participantes e inscritos en las carreras se comprometen a
            cumplir los principios básicos de juego limpio en el deporte y la recreación, de
            respeto y sana convivencia con el resto de los corredores; es decir:
        </p>
        <p>· Colocarse en la salida acorde con los tiempos previstos a realizar.
        </p>
        <p>· Atender a las indicaciones del personal de la organización.
        </p>
        <p>· Realizar el recorrido previsto sin recortar en ninguna parte del recorrido.
        </p>
        <p>· Tomar solo la hidratación, avituallamiento y obsequios que le corresponden.
        </p>
        <p>· No facilitar el dorsal propio a otra persona.</p>
        <h6>CONSENTIMIENTO INFORMADO
        </h6>
        <p>En cumplimiento de la Ley Estatutaria 1581 del 17 de octubre de 2012 "Por la
            cual se dictan disposiciones generales para la protección de datos
            personales", la Alcaldía de Santiago de Cali informa, que siendo responsable
            y encargado del tratamiento de los datos personales de los habitantes del
            distrito especial, estos serán utilizados únicamente en el desarrollo de las
            funciones propias y no se compartirán con nadie para fines diferentes. Esta
            información es y será utilizada para conocer más al ciudadano que se acerca
            a la Alcaldía de Santiago de Cali.</p>
        <p>Sus respuestas serán estrictamente confidenciales y serán usadas con fines
            estadísticos para caracterizar a los Usuarios-Beneficiarios de los programas
            deportivos, recreativos y de actividad física de la Secretaría del Deporte y la
            Recreación.</p>
        <h6>RESPONSABILIDAD</h6>
        <p>La Secretaría del Deporte y la Recreación y la empresa responsable de la
            organización de la carrera atlético recreativa, no asume ninguna
            responsabilidad por los daños que, por la participación en esta carrera atlético
            recreativa pueda ocasionarse un participante a sí mismo, a otras personas e
            incluso en el caso de que terceras personas causen daños al participante u
            organización . Los participantes declaran que, por el hecho de inscribirse,
            aceptan la condición anteriormente expuesta y contribuirán con la organización
            para evitar accidentes personales.</p>
        <p>Todos los participantes por el hecho de inscribirse, declaran conocer y aceptar
            este reglamento y la exoneración de responsabilidades y protección de datos.
            En caso de duda prevalecerá el criterio de la organización.</p>
        <h6>EXONERACIÓN DE RESPONSABILID CARRERAS SECRETARIA DEL
            DEPORTE Y LA RECREACION DEL DISTRITO ESPECIAL DEPORTIVO,
            CULTURAL, TURISTICO, EMPRESARIAL Y DE SERVICIOS.
        </h6>

        <h6>Por favor, lea detenidamente antes de firmar:
        </h6>
        <p>IMPORTANTE: Para participar en las carreras que organiza la Alcaldía de Santiago
            de Cali, a través de la secretaria del Deporte y la Recreación, es requisito
            indispensable haberse inscrito con anticipación a través de la plataforma que para tal
            fin disponga la Secretaria del Deporte y la Recreación, reclamar el respectivo kit el
            día determinado para ello, presentarse a la carrera a la hora indicada y portar el
            número asignado pegado en la camiseta de manera visible y tener el esquema de
            vacunación completo COVID 19. La Alcaldía de Santiago de Cali, a través de la
            Secretaría del Deporte y la Recreación del Distrito de Cali, su operador y los
            patrocinadores del evento NO se hacen responsables por cualquier accidente, o
            condición médica ocurrida durante o después de la carrera. Recuerde incluir todos los
            detalles médicos, personales al reverso del número que recibe en el proceso de
            inscripción.
        </p>
        <p>RENUNCIA Y LIBERACION DE RESPONSABILIDADES : En consideración a lo
            previamente leído en este documento, doy fe que soy mayor de edad y que si inscribo
            y acudo con un menor de edad, tomo la responsabilidad al leer y firmar este
            documento, y exonero a: 1) Secretaria del Deporte y la Recreación, 2) Entidades
            asociadas, 3) cualquier patrocinador de la carrera, 4) el Operador de la Carrera 5)
            Empleados, contratistas y colaboradores del Distrito de Santiago de Cali y del
            operador, 6) Distrito de Cali y otros , de cualquier reclamo por accidentes, heridas,
            daños, acciones de negligencia, daño emocional, conducta intencional y cualquier
            otra demanda de esta misma naturaleza que yo tenga y pueda tener en contra de los
            mismos.</p>
        <p>Reconozco que soy consciente de los riesgos inherentes al desarrollo del evento y
            voluntariamente los asumo. Testifico que estoy físicamente preparado para asumir la
            carrera organizada por la Alcaldía de Santiago de Cali, a través de la Secretaria del
            Deporte y la Recreación, el operador del evento y sus patrocinadores, y no son
            responsables por accidentes que tenga como participante, que ocurra durante y
            después de la carrera organizada.</p>
        <p>Declaro bajo juramento que NO padezco afecciones físicas adquiridas o congénitas,
            ni lesiones que pudieran ocasionar trastornos en mi salud o condiciones de vida, como
            consecuencia de participar en la presente competencia. Así mismo declaro bajo
            juramento que antes de realizar la competencia me han realizado un chequeo médico
            y me encuentro en condiciones físicas óptimas para participar en la misma, así mismo
            asumo todos los riesgos asociados con la participación en la presente competencia
            (caídas, contacto con otros participantes, consecuencias del clima, tránsito vehicular,
            condiciones del camino, accidentes con animales y/o cualquier otra clase de riesgo
            que se pudiera ocasionar).</p>
        <p>Por la presente entiendo que la actividad derivada de la práctica de deporte,
            recreación y actividad física implica la posibilidad de sufrir lesiones y/o riesgos, según
            fui informado en detalle por parte del D.E. de Santiago de Cali – Secretaría del
            Deporte y la Recreación. Estoy de acuerdo con las recomendaciones, obligaciones y
            sugerencias que me han brindado en cuanto al cuidado de mi salud y las formas a
            seguir previas y durante la actividad y entiendo que no me eximo de la responsabilidad
            de atender tales recomendaciones y respetarlas para reducir todo riesgo al mínimo.</p>
        <p>Tomo conocimiento y acepto voluntariamente, que la Alcaldía de Cali, a través de la
            Secretaria del Deporte, operador del evento y sus patrocinadores, NO toman a su
            cargo, ni se responsabilizan por ningún tipo de indemnizaciones, reclamo, costo y/o
            perjuicio reclamado, por accidentes, materiales físicos, psíquicos o morales, lucro
            cesante, causados a mi persona y/o al menor de edad que he inscrito y participa del
            evento o a mis derechohabientes, con motivo y en ocasión de la actividad física en la
            que participaré.</p>
        <p>Por la realización de la inscripción en la carrera organizada por la Alcaldía de Cali, a
            través de la Secretaria del Deporte, eximo a la Alcaldía de Santiago de Cali a través
            de la Secretaria del Deporte y la Recreación, el operador del evento y los
            patrocinadores, de todo y cualquier reclamo o responsabilidad de cualquier tipo de
            accidente o incidente que surja de mi participación es esta competencia, así como de
            cualquier extravió, robo y/o hurto que pudiera sufrir. Manifiesto igualmente que NO
            serán responsables por incendios, cortocircuitos, robos, hurtos, caso fortuito,
            cualquiera fuera la causa que lo origine, daño en mi salud proveniente de riñas o
            peleas de terceros, daños en mi salud provenientes de afecciones físicas o no, que
            puedan acontecer con anterioridad durante el transcurso de la competencia y después
            de la misma. </p>
        <p>Autorizo a los organizadores de la competencia y el operador del evento a que use,
            edite, publique, reproduzca, distribuya y/o licencie mi imagen, la de las niñas y niños
            y/o adultos que represento (hijos, personas con discapacidad o adultos mayores) de
            cuyos derechos de autor soy titular, tomadas con motivo y en ocasión del presente
            evento deportivo, sin compensación económica alguna a favor del participante de la
            presente carrera.</p>
        <p>Reconozco que esta autorización no supone pago ni retribución incluyendo regalías
            u otra compensación resultante de su uso. Tengo conocimiento de que esta imagen
            puede editarse, copiarse, exhibirse, publicarse o distribuirse, por varios medios
            incluyendo el electrónico, sin que tenga derecho a examinar o autorizar la
            reproducción del producto final en que ella aparezca. La presente autorización no
            tiene fecha de expiración ni se restringe a límite geográfico alguno en cuanto a la
            distribución y/o reproducción de esta imagen. Certifico también que tengo la potestad
            de conferir los derechos antes mencionados y que el ejercicio de éstos no infringe los
            derechos de propiedad intelectual o de imagen de terceros.
        </p>
        <p>Entiendo que la organización podrá suspender o prorrogar fechas sin previo aviso,
            incluso incrementar o reducir la cantidad de inscripciones en función de las
            necesidades o la disponibilidad técnica o estructural. La Alcaldía de Cali a través de
            la Secretaria del deporte podrá suspender el evento por cuestiones de seguridad
            pública, actos públicos, vandalismo y/o razones de fuerza mayor.</p>
        <p>Entiendo que esta es una carrera gratuita, sin costo alguno para el participante que
            adquirió su cupo dentro de los términos y requisitos que estableció previamente la
            Alcaldía de Cali a través de la Secretaria del Deporte y por tanto entiendo, acepto y
            declaro que no puedo vender ni ceder bajo ningún termino mi cupo a otra persona
            que quiera participar, asumiendo cualquier responsabilidad que se derive de este
            incumplimiento
        </p>
        <p>Mi participación en esta carrera implica mi responsabilidad por los datos
            suministrados y mi aceptación plena del reglamento. (Todo reclamo acerca del
            resultado parcial o final de la carrera deberá presentarse por escrito al director técnico
            del evento dentro de los 30 minutos posteriores a su comunicación).</p>
        <p>La Alcaldía de Cali a través de la Secretaria del Deporte y la Recreación, se reserva
            el derecho a excluir a cualquier participante antes o durante la carrera por
            comportamientos que, a su juicio, son inadecuados, irrespetuosos o contrarios al
            reglamento y la ética.
        </p>

        <p>Manifiesto que he leído y acepto el presente documento y el reglamento de la carrera
            que se anexa en el link de inscripción y la firma durante la entrega del kit
        </p>

        <h4>ACEPTO, firma digital para continuar con la inscripción…
        </h4>

    </div>
    <br/>
    <div class="checkbox mb-3 ">
        <label>
            <a href="../../../../assets/Reglamento.pdf" download="Reglamento">Consideraciones y reglas de la carrera atletico recreativa</a>
            <br>
            <input type="checkbox" [(ngModel)]="terminosprincipal" value="terminosprincipal" name="terminosprincipal" id="terminosprincipal">
            Aceptar terminos y condiciones de las consideraciones y reglas de la carrera atletico recreativa'
        </label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" (click)="terminosvalidar()" type="submit">REGISTRARSE</button>


</div>

<div class="container col-xl-10 col-xxl-8 px-4 py-0  " *ngIf="registro">
    <br />

    <form class="p-4 p-md-5 border rounded-3 bg-light fondo2  letra" action="" *ngIf="formulariomenor">
        <h3 class="display-4 fw-bold lh-1 mb-3 text-center">Inscripciones Carrera 3K


        </h3>
        <h2>REGISTRARSE</h2>
        <H1>Datos del Menor</H1>

        <div class="form-floating mb-3">
            <input class="form-control fondo2" name="variable2" id="variable2" [(ngModel)]="nuevoUsuario.variable2"
                placeholder="nombre" required>
            <label for="floatingPassword">Nombre completo del Menor</label>
        </div>

        <div class="form-floating mb-3">
            <select class="form-select fondo1" aria-label="Default select example" [(ngModel)]="tipoidemenor"
                id="variable3" placeholder="variable3" name="variable3">

                <option value="tarjeta identidad">Tarjeta de identidad
                </option>
                <option value="registro civil">Registro civil de nacimiento
                </option>
                <option value="pasaporte">Pasaporte </option>
                <option value="PEP">Permiso Especial de Permanencia </option>


                <option value="Otro">Otro</option>

            </select>
            <label for="floatingInput">Tipo de documento del Menor</label>

        </div>



        <div class="form-floating mb-3">
            <input class="form-control fondo2 " name="variable1" id="variable1" [(ngModel)]="nuevoUsuario.variable1"
                placeholder="variable1" required>
            <label for="floatingPassword">Número de documento del Menor</label>

        </div>



        <div class="form-floating mb-3">
            <select class="form-select fondo1" aria-label="Default select example" [(ngModel)]="nuevoUsuario.variable3"
                id="variable4" placeholder="variable4" name="variable4">

                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6 </option>
                <option value="7">7</option>
                <option value="8">8 </option>
                <option value="9">9 </option>
                <option value="10">10 </option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>




            </select>
            <label for="floatingInput">Edad del Menor</label>

        </div>





        <div class="form-floating mb-3">
            <select class="form-select fondo1" aria-label="Default select example" [(ngModel)]="generomenor"
                id="variable4" placeholder="variable4" name="variable4">

                <option value="Hombre">Hombre
                </option>
                <option value="Mujer">Mujer
                </option>

            </select>
            <label for="floatingInput">Género del Menor</label>

        </div>






        <div class="form-floating mb-3">
            <select class="form-select fondo1" aria-label="Default select example" [(ngModel)]="discapacidadmenor"
                id="variable4" placeholder="variable4" name="variable4">

                <option value="Ninguna">Ninguna</option>
                <option value="Fisica">Fisica</option>
                <option value="Física con Movilidad reducida">Física con Movilidad reducida
                </option>
                <option value="Motora">Motora
                </option>
                <option value="Motora con movilidad reducida">Motora con movilidad reducida
                </option>
                <option value="Visual">Visual
                </option>
                <option value="Auditiva">Auditiva
                </option>

                <option value="Intelectual">Intelectual
                </option>

                <option value="Múltiple">Múltiple

                </option>



            </select>
            <label for="floatingInput">Tiene alguna discapaciad?
            </label>

        </div>

        <div class="form-floating mb-3">
            <input class="form-control fondo2 " name="variable1" id="variable1" [(ngModel)]="nuevoUsuario.variable4"
                placeholder="variable1" required>
            <label for="floatingPassword">EPS del Menor</label>

        </div>



        <div class="form-floating mb-3">
            <select class="form-select fondo1" aria-label="Default select example" [(ngModel)]="sangremenor"
                id="variable4" placeholder="variable4" name="variable4">

                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+
                </option>
                <option value="B-">B-
                </option>
                <option value="AB+">AB+
                </option>
                <option value="AB-">AB-
                </option>
                <option value="O+">O+
                </option>
                <option value="O-">O-
                </option>





            </select>
            <label for="floatingInput">Tipo de sangre
            </label>

        </div>


        <div class="form-floating mb-3">
            <select class="form-select fondo1" aria-label="Default select example" [(ngModel)]="nuevoUsuario.variable5"
                id="variable4" placeholder="variable4" name="variable4">

                <option value="XS">XS</option>
                <option value="S">S</option>
                <option value="M">M
                </option>
                <option value="L">L
                </option>
                <option value="XL">XL
                </option>
                <option value="XXL">XXL
                </option>






            </select>
            <label for="floatingInput">Talla de camisa
            </label>

        </div>


        <H1>Datos del Adulto</H1>
        <br />


        <div class="form-floating mb-3">
            <input class="form-control fondo2" name="variable2" id="variable2" [(ngModel)]="nuevoUsuario.variable7"
                placeholder="nombre" required>
            <label for="floatingPassword">Nombre completo del Adulto</label>
        </div>

        <div class="form-floating mb-3">
            <select class="form-select fondo1" aria-label="Default select example" [(ngModel)]="tipoidadulto"
                id="variable3" placeholder="variable3" name="variable3">

                <option value="Cedula">Cedula </option>

                <option value="pasaporte">Pasaporte </option>
                <option value="PEP">Permiso Especial de Permanencia </option>


                <option value="Otro">Otro</option>

            </select>
            <label for="floatingInput">Tipo de documento del Adulto</label>

        </div>






        <div class="form-floating mb-3">
            <input class="form-control fondo2 " name="variable8" id="variable8" [(ngModel)]="nuevoUsuario.variable8"
                placeholder="variable8" required>
            <label for="floatingPassword">Numero de documento del adulto</label>

        </div>


        <div class="form-floating mb-3">
            <input class="form-control fondo2 " name="variable9" id="variable9" [(ngModel)]="nuevoUsuario.variable9"
                placeholder="variable9" required>
            <label for="floatingPassword">Edad del adulto</label>

        </div>





        <div class="form-floating mb-3">
            <select class="form-select fondo1" aria-label="Default select example" [(ngModel)]="generoadulto"
                id="variable4" placeholder="variable4" name="variable4">

                <option value="Hombre">Hombre
                </option>
                <option value="Mujer">Mujer
                </option>

            </select>
            <label for="floatingInput">Género del Adulto</label>

        </div>






        <div class="form-floating mb-3">
            <select class="form-select fondo1" aria-label="Default select example" [(ngModel)]="discapacidadadulto"
                id="variable4" placeholder="variable4" name="variable4">

                <option value="Ninguna">Ninguna</option>
                <option value="Fisica">Fisica</option>
                <option value="Física con Movilidad reducida">Física con Movilidad reducida
                </option>
                <option value="Motora">Motora
                </option>
                <option value="Motora con movilidad reducida">Motora con movilidad reducida
                </option>
                <option value="Visual">Visual
                </option>
                <option value="Auditiva">Auditiva
                </option>

                <option value="Intelectual">Intelectual
                </option>

                <option value="Múltiple">Múltiple

                </option>



            </select>
            <label for="floatingInput">Tiene alguna discapaciad?
            </label>

        </div>

        <div class="form-floating mb-3">
            <input class="form-control fondo2 " name="variable1" id="variable1" [(ngModel)]="nuevoUsuario.variable10"
                placeholder="variable1" required>
            <label for="floatingPassword">EPS del Adulto</label>

        </div>



        <div class="form-floating mb-3">
            <select class="form-select fondo1" aria-label="Default select example" [(ngModel)]="sangreadulto"
                id="variable4" placeholder="variable4" name="variable4">

                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+
                </option>
                <option value="B-">B-
                </option>
                <option value="AB+">AB+
                </option>
                <option value="AB-">AB-
                </option>
                <option value="O+">O+
                </option>
                <option value="O-">O-
                </option>





            </select>
            <label for="floatingInput">Tipo de sangre Del Adulto
            </label>

        </div>


        <div class="form-floating mb-3">
            <select class="form-select fondo1" aria-label="Default select example" [(ngModel)]="nuevoUsuario.variable11"
                id="variable4" placeholder="variable4" name="variable4">

                <option value="XS">XS</option>
                <option value="S">S</option>
                <option value="M">M
                </option>
                <option value="L">L
                </option>
                <option value="XL">XL
                </option>
                <option value="XXL">XXL
                </option>






            </select>
            <label for="floatingInput">Talla de camisa del Adulto
            </label>

        </div>




        <div class="form-floating mb-3">
            <input class="form-control fondo2 " name="variable1" id="variable1" [(ngModel)]="nuevoUsuario.variable13"
                placeholder="variable1" required>
            <label for="floatingPassword">Celular</label>

        </div>

        <div class="form-floating mb-3">
            <input class="form-control fondo2 " name="variable1" id="variable1" [(ngModel)]="nuevoUsuario.variable14"
                placeholder="variable1" required>
            <label for="floatingPassword">Correo</label>

        </div>
        <div class="form-floating mb-3 fondo1 q">

            <select class="form-select fondo1 " aria-label="Default select example"
                [(ngModel)]="seleccionarDepartamento" (change)="onSelect($any($event.target).value)" id="variable7"
                placeholder="variable7" name="variable7">
                <option *ngFor="let departamento of departamentos" value={{departamento.id}}>
                    {{departamento.name}}
                </option>
            </select>
            <label for="floatingInput">departamento</label>
        </div>
        <div class="form-floating mb-3 fondo1 q">

            <select class="form-select fondo1 " aria-label="Default select example" [(ngModel)]="seleccionarCiudad"
                id="seleccionarCiudad" placeholder="seleccionarCiudad" name="seleccionarCiudad">
                <option *ngFor="let ciudad of ciudades" value={{ciudad.id}}>{{ciudad.name}}</option>
            </select>
            <label for="floatingInput">Ciudad</label>
        </div>

        <div class="form-floating mb-3 fondo1 q">

            <select class="form-select fondo1 " aria-label="Default select example" [(ngModel)]="comuna" id="variable9"
                placeholder="variable6" name="variable6">

                <option value="c1">comuna 1</option>
                <option value="c2">comuna 2</option>
                <option value="c3">comuna 3</option>
                <option value="c4">comuna 4</option>
                <option value="c5">comuna 5</option>
                <option value="c6">comuna 6</option>
                <option value="c7">comuna 7</option>
                <option value="c8">comuna 8</option>
                <option value="c9">comuna 9</option>
                <option value="c10">comuna 10</option>
                <option value="c11">comuna 11</option>
                <option value="c12">comuna 12</option>
                <option value="c13">comuna 13</option>
                <option value="c14">comuna 14</option>
                <option value="c15">comuna 15</option>
                <option value="c16">comuna 16</option>
                <option value="c17">comuna 17</option>
                <option value="c18">comuna 18</option>
                <option value="c19">comuna 19</option>
                <option value="c20">comuna 20</option>
                <option value="c21">comuna 21</option>
                <option value="c22">comuna 22</option>
                <option value="EL HORMIGUERO">EL HORMIGUERO</option>
                <option value="LA ELVIRA">LA ELVIRA</option>
                <option value="LA PAZ">LA PAZ</option>
                <option value="VILLACARMELO">VILLACARMELO</option>
                <option value="LA BUITRERA">LA BUITRERA</option>
                <option value="NAVARRO">NAVARRO</option>
                <option value="EL SALADITO">EL SALADITO</option>
                <option value="FELIDIA">FELIDIA</option>
                <option value="LA CASTILLA">LA CASTILLA</option>
                <option value="LA LEONERA">LA LEONERA</option>
                <option value="PICHINDE">PICHINDE</option>
                <option value="GOLONDRINAS">GOLONDRINAS</option>
                <option value="MONTEBELLO">MONTEBELLO</option>
                <option value="PANCE">PANCE</option>
                <option value="LOS ANDES">LOS ANDES</option>
                <option value="YUMBO">YUMBO</option>
                <option value="JAMUNDI">JAMUNDI</option>
                <option value="CANDELARIA">CANDELARIA</option>

                <option value="OTRA">Otra</option>
                <option value="Diferente a cali">Comuna diferente a cali</option>


            </select>
            <label for="floatingInput">Comuna</label>
        </div>
        <br />


        <div class="checkbox mb-3 ">
            <label>
                <a href="../../../../assets/Reglamento.pdf" download="Reglamento">Consideraciones y reglas de la carrera atletico recreativa</a>
                <br>
                <input type="checkbox" [(ngModel)]="terminos" value="terminos" name="terminos" id="terminos">
                Aceptar terminos y condiciones de las consideraciones y reglas de la carrera atletico recreativa'
            </label>
        </div>  
        <div class="checkbox mb-3 ">
            <label>
                <a href="../../../../assets/Autorizacion.pdf" download="autorización">autorización participación de menores</a>
                <br>
                <input type="checkbox" [(ngModel)]="menores" value="menores" name="menores" id="menores">
                Aceptar terminos y condiciones de la autorización participación de menores'
            </label>
        </div>










        <button class="w-100 btn btn-lg btn-primary" (click)="formulariomenorvalidar()"
            type="submit">REGISTRARSE</button>

    </form>






</div>

-->


<div class="container my-5 ">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg fondo">

        <div class="col-lg-4 offset-lg-1 p-0 ">
            <div class="mrgbtnimg">
                <h1 class="display-4 fw-bold lh-1  text-black">Inscripciones Carrera 3k cerradas</h1>
                <BR />
                <p class="lead  text-black">
           Felicidades a todos los que se Registraron pendientes de las redes socials para mas eventos
                    <BR />
                </p>
            </div>
        </div>
    </div>
</div>

<app-footerp></app-footerp>